:root {
  --form-control-color: #008bf7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: #ddd;
  display: flex;
  justify-content: center;
}

.main-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  height: 85vh;
  width: 400px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d182e;
  background-image: url('/worldmap.png');
  width: 100%;
  height: 225px;
  padding: 0;
  margin: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.25rem;
}

.header-title {
  color: #32cd32;
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.header-subtitle {
  color: #fff;
  font-size: .75rem;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
}

.translation-form {
  border: 4px solid #252f42;
  width: 362px;
  border-radius: 15px;
  color: #035a9d;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1.5rem 1.25rem 2.5rem 1.25rem;
  background-color: #fff;
}

.translate-text {
  color: #333333;
}

.translated-text {
  color: #000;
}

.translate-text, .translated-text {
  background: #eff0f4;
  padding: 1rem .25rem;
  border-radius: .5rem;
  width: 317px;
  height: 118px;
  font-size: 1.25rem;
  font-weight: 700;
}

.text-translate-header {
  font-size: 1.25rem;
  color: #035a9d;
  font-weight: 700;
  line-height: 150%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header, main {
  margin: 0 auto;
}

.language-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.25rem;
}

.language label {
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
}

.form-control {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #333333;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  margin-bottom: 1rem;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  justify-self: end;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.form-control + .form-control {
  margin-top: 1em;
}

.btn-primary {
  font-family: "Roboto", sans-serif;
  background-color: #035a9d;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
}